@font-face {
    font-family: "cera_black_italic_4";
    src: url("/assets//Fonts/Cera\ Pro\ Black\ Italic_4.otf");
}

@font-face {
    font-family: "cera_black_4";
    src: url("/assets/Fonts/Cera\ Pro\ Black_4.otf");
}

@font-face {
    font-family: "cera_bold_italic_4";
    src: url("/assets/Fonts/Cera\ Pro\ Bold\ Italic_4.otf");
}

@font-face {
    font-family: "cera_bold_4";
    src: url("/assets/Fonts/Cera\ Pro\ Bold_4.otf");
}

@font-face {
    font-family: "cera_light_italic_4";
    src: url("/assets/Fonts/Cera\ Pro\ Light\ Italic_4.otf");
}

@font-face {
    font-family: "cera_light_4";
    src: url("/assets/Fonts/Cera\ Pro\ Light_4.otf");
}

@font-face {
    font-family: "cera_medium_italic_4";
    src: url("/assets/Fonts/Cera\ Pro\ Medium\ Italic_4.otf");
}

@font-face {
    font-family: "cera_medium_4";
    src: url("/assets/Fonts/Cera\ Pro\ Medium_4.otf");
}

@font-face {
    font-family: "cera_regular_italic_4";
    src: url("/assets/Fonts/Cera\ Pro\ Regular\ Italic_4.otf");
}

@font-face {
    font-family: "cera_regular_4";
    src: url("/assets/Fonts/Cera\ Pro\ Regular_4.otf");
}

@font-face {
    font-family: "cera_thin_italic_4";
    src: url("/assets/Fonts/Cera\ Pro\ Thin\ Italic_4.otf");
}

@font-face {
    font-family: "cera_thin_4";
    src: url("/assets/Fonts/Cera\ Pro\ Thin_4.otf");
}

/* Reset CSS Start */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


* {
    padding: 0;
    margin: 0;
    font-family: "cera_regular_4";
}

body {
    background-color: var(--bgColor);
    color: var(--primaryFontColor);
    background-image: url(/assets/images/extracted/Shape1.png);
}

:root {
    --bgColor: #000014;
    --primaryFontColor: #ffffff;
    --bgGradiant1: linear-gradient(to right, #dfa696, #f3dfcb);
    --bgColor: #1a1a2c;
    --borderColor: #144993;
    --darkColor: #000014;
    --primaryDark: #000000;
}

.wrapper {
    position: relative;
}

.container {
    min-height: calc(100vh);
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    max-width: 1400px;
    margin: 0 auto;
}

/* Class Based Styles */
.title {
    color: var(--primaryFontColor);
    font-size: 70px;
    letter-spacing: 2;
    font-family: "cera_regular_4";
    text-transform: uppercase;
}

.text {
    font-family: "cera_thin_4";
    text-align: center;
}

.text-center {
    text-align: center;
}

.line-space-1-5 {
   
}

.play-btn-span {
    width: 55px;
    height: 55px;
    background-color: var(--primaryFontColor);
    border-radius: 100%;
}
/* Padding & Margin */
.mb-55 {
    margin-bottom: 55px;
}

.mb-66 {
    margin-bottom: 66px;
}

.pd-h-200 {
    padding: 0 200px;
}

/* Header Style Start */

.header-wrapper {
    position: fixed;
    height: 77px;
    z-index: 2;
    width: 100%;
    backdrop-filter: blur(4px);
}

.desktop-menu {
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav ul {
    display: flex;
}

.menu-item {
    padding: 0 20px;
    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: var(--primaryFontColor);
    text-transform: uppercase;
    font-size: 18px;
    font-family: "cera_thin_4";
}

.header-logo img {
    max-height: 80px;
}

.mobile-menu {
    display: none;
    position: relative;
}

.menu-icon {
    position: absolute;
    right: 0;
}

.mobile-menu-nav {
    display: none;
}

.mobile-menu-nav.show {
    display: block;
    position: absolute;
    width: 100%;
    top: 30px;
}

.mobile-menu-nav ul {
}

@media screen and (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}

@media screen and (max-width: 1600px) {
}

/* Main Sections Start */

.home .section_container {
    /* max-width: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/images/extracted/Layer1.png); */
}

.home .img-container {
/*     
    min-height: 707px;
    width: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(/assets/images/extracted/Shape8-1.png); */
}


.home .img-container img{ 
    position: absolute;
    width: 100%;
}


.home .img-container .img1{ 
    left: 0;
    top: 0;
    z-index: -1;
}

.home .img-container .img2{ 
    top: 878px;
    left: -12px;
}

.home .img-container .img3{ 
    left: -12px;
    top: 1062px;
    z-index: 4;
}

.home .img-container .img4{ 
    left: -12px;
    top: 1065px;
    z-index: 4;
}

.home .img-container .img5{ 
    left: -12px;
    top: 1065px;
    z-index: 3;
}

.home .avatar {
    position: absolute;
}

.home .avatar1{
    width: 485px !important;
    height: 514px;
    left: 108px;
    top: 737px;
    z-index: 1;
}

.home .avatar2{
    width: 492px !important;
    height: 523px;
    left: 445px;
    top: 646px;
}

.home .avatar3{
    width: 494px !important;
    height: 703px;
    left: 753px;
    top: 444px;
}

.home .avatar4{
    width: 457px !important;
    height: 516px;
    left: 1058px;
    top: 688px;
}

.home .avatar5{
    width: 417px !important;
    height: 523px;
    left: 1386px;
    top: 740px;
}

.home .shape-container {
    position: absolute;
}

.home .shape-container img {
    border-radius: 20px;
}

.home .shape8-1 {
    left: 101px;
    top: 347px;
}

.home .shape8-1 img {
    width: 153px;
    top: 152px;
}

.home .shape8-2 {
    left: 382px;
    top: 518px;
}

.home .shape8-2 img {
    width: 124px;
    top: 124px;
}

.home .shape8-3 {
    left: 1595px;
    top: 267px;
}

.home .shape8-3 img {
    width: 124px;
    top: 124px;
}

.home .shape8-4 {
    left: 1682px;
    top: 555px;
}

.home .shape8-4 img {
    width: 152px;
    top: 152px;
}

.home img{
    position: absolute;
}
.home .title {
    font-size: 100px;
    font-family: 'cera_black_4';
    margin-bottom: 50px;
}

.home .play-btn {
    background-image: var(--bgGradiant1);
    color: var(--bgColor);
}

.home .bg-container {
    background-image: url(/assets/images/extracted/Layer1.png);
}


/* Creations Sections */

.creations {
    position: relative;
}

.creations .section_container {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    padding-top: 100px;
}

.creations .round-img {
    position: absolute;
    top: 0;
    left: 55px;
}

.img-slide {
    display: flex;
    gap: 19px;
    align-items: center;
    justify-content: center;
}

.img-slide img {
    border-radius: 20px;
    border-color: var(--bgColor);
}

.slide-item {
}

@media screen and (max-width: 1600px) {
    .slide-item img {
        max-width: 270px;
    }
}

/* Investments Section Start  */

.big-banner {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.big-banner-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.big-banner-item .title {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 380px;
    font-size: 54px;
}

.big-banner-item .text {
    margin-bottom: 70px;
    margin-left: 380px;
    font-size: 26px;
    text-align: left;
    margin-right: 200px;
}

.big-banner-bgImg {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: 25px;
}
.big-banner-Img {
    height: 300px;
    bottom: 0;
    object-fit: contain;
    z-index: 2;
    position: absolute;
}

/* Investments Section End  */

/* Legendaries Section Start  */

.legendaries .text {
    font-size: 22px;
}

.legendaries .card-img {
    width: 360px;
    height: 360px;
}

.legendaries .card-container {
    padding: 0 20px;
}

/* Road Map Start */

.roadmap-shape {
    /* background-image: url('/assets/images/extracted/shape2.png'); */
}

.roadmap-card-container {
    position: relative;
}

.roadmap {
    position: relative;
}

.roadmap-img-container {
    position: relative;
}


.roadmap .title {
    padding-bottom: 340px;
}

.roadmap-img-container img {
    position: absolute;
    width: 100%;

}

.shape-round {
    position: absolute;
    bottom: -220px;
}
.roadmap-card {
    max-width: 320px;
    text-align: center;
    position: absolute;
    z-index: 2;
}

.roadmap-card.card1 {
    left: 250px;
    top: -220px;
}

.roadmap-card.card2 {
    left: 610px;
    top: -340px;
}

.roadmap-card.card3 {
    left: 950px;
    top: -300px;
}

.roadmap-card.card4 {
    left: 1340px;
    top: -350px;
}

.roadmap-icon {
    position: relative;
}

.roadmap-icon .center-img {
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
}

.roadmap-icon p{
    position: absolute;
    left: 50%;
    top: 38%;
    font-family: 'cera_bold_4';
    transform: translate(-50%, -50%);
    font-size: 62px !important;
    color: var(--bgColor);
}

.roadmap-card h1 {
    font-size: 34px;
    margin-bottom: 30px;
    background-image: var(--bgGradiant1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.roadmap-card p {
    font-size: 20px;
    margin-bottom: 25px;
}

/* Road Map End */

/* Our Team Start */
.card-container {
    display: flex;
    gap: 24px;
    margin-bottom: 795px;
    max-width: 100%;
    justify-content: center;
}

.card {
    padding: 10px;
    border-radius: 25px;
    background-color: var(--primaryFontColor);
    text-align: center;
    color: var(--darkColor);
}
.card-img {
    max-width: 100%;
    border-radius: 25px;
}

.card-title {
    font-size: 34px;
    font-family: "cera_bold_4";
}

.card-position {
    font-size: 20px;
    font-family: "cera_medium_4";
}

.banner {
    background-image: var(--bgGradiant1);
    position: absolute;
    bottom: 0;
    padding: 160px 0;
    text-align: center;
    width: 100%;
}

.banner-title {
    margin-bottom: 45px;
    font-size: 70px;
    color: var(--darkColor);
    text-transform: uppercase;
    font-family: 'cera_bold_4';
}

.banner-desc {
    font-size: 22px;
    margin-bottom: 50px;
    color: var(--darkColor);
}
.join-btn button {
    background: var(--primaryDark);
    color: #dfa696;
}

.join-btn {
    text-decoration: none;
}
.join-btn .play-btn {
    border: none;
    padding: 10px;
    padding-left: 65px;
    padding-right: 10px;
    font-size: 28px;
    font-family: "cera_bold_4";
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
}

.join-btn.lg .play-btn {
    background-image: var(--bgGradiant1);
    color: var(--bgColor);
}
.play-btn svg {
    height: 55px;
    fill: var(--primaryFontColor);
}

/* Our Team End */

.ourteam .text {
    font-size: 22px;
    font-family: 'cera_medium_4';
    line-height: 1.5;
}

/* Faq Section Start*/
.faq.container {
    padding-bottom: 170px;
}
.faq_content {
    width: 100%;
    max-width: 1200px;
}

.accordion {
    background-color: var(--bgColor);
    color: var(--primaryFontColor);
    cursor: pointer;
    padding: 30px 35px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 27px;
    transition: 0.4s;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 2px solid;
    border-color: var(--borderColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active,
.accordion:hover {
}
.panel {
    padding: 45px 35px;
    display: none;
    background-color: transparent;
    overflow: hidden;
    font-size: 22px;
}
.accordion:after {
    font-family: "FontAwesome";
    content: "\2b"; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: var(--bgColor);
    float: right;
    margin-left: 5px;
    background-image: var(--bgGradiant1);
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active:after {
    content: ""; /* Unicode character for "minus" sign (-) */
    background-image: none;
    background-color: var(--bgColor);
    color: var(--primaryFontColor);
}

.accordion.active {
    border-color: var(--bgColor);
}

.faq_questions.active {
    background-image: var(--bgGradiant1);
    color: var(--darkColor);
}

.faq_load_question {
    font-size: 22px;
    color: #dfa696;
    text-transform: uppercase;
}

/* Footer Section Start */

.footer {
    display: flex;
    flex-direction: column;
}

.footer-bg-img {
    min-height: 300px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.footer p {
    margin-bottom: 40px;
}

.footer-bg-img img{
    width: 100%;
    position: absolute;
}

.footer-columns {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
}

.footer-columns .title, h3 {
    font-size: 37px;
    margin-bottom: 30px;
    font-family: 'cera_bold_4';
}

.footer-columns li, .footer-columns .desc {
    font-size: 24px;
    font-family: 'cera_light_4';
}

.footer-columns .desc {
    margin-bottom: 35px;
}
.footer-columns .col-1 li{ 
    list-style: none;
    margin-bottom: 20px;
    font-size: 24px;
}
.footer-columns .col-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-columns .col-2 h3 {
    background-image: var(--bgGradiant1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-columns .col-2 span {
    
}

.footer-columns .col-3 .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer-logo img {
    height: 130px;
}

.item .social-items {
    position: relative;
}

.social-items span {
    display: inline-block;
    position: relative;
}

.social-icons svg {
    height: 30px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Footer Section End */

/* Faq Section End*/
@media screen and (max-width: 1600px) {
    .banner {
        
    }

    .legendaries .card-img {
        width: 250px;
        height: 250px;
    }

    .roadmap-img-container {
        max-width: 1600px;
    }

    .footer-bg-img {
        max-width: 1600px;
    }

    .footer {
        max-width: 1600px;
    }

    .footer-columns {
        max-width: 1200px;
    }
}
